.searchbar {
    width: 30%;
    height: 40px;
    border-radius: 30px;
    border: 1px solid black;
    flex-direction: row-reverse;
    display: flex;
    justify-content: end;
    align-items: center;
}

.search_input {
    color: black;
    border: 0;
    outline: 0;
    background: none;
    width: 100%;
    line-height: 40px;
}



.search_icon {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: black;
    text-decoration: none;
    background: none;
    border: none;
}
