select.btn {
    border: 1px solid #00000038;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 70px;
    height: 70px;
    padding: 10px 0px;
    border-radius: 35px;
    text-align: center;
    font-size: 30px;
    line-height: 1.42857;
}
