<section class="container mt-4" ng-controller="EstadosControllerRead as read">
    <h2 class="text-center">Lista de Estados</h2>
    <div class="d-flex flex-row-reverse col-sm p-0">
        <div class="input-group-append">
            <span class="input-group-text"> <i class="fas fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Pesquisar" ng-model="read.search.nome">&nbsp;&nbsp;&nbsp;
            <button ng-click="main.toPage('/estados/novo')" class="btn btn-success" type="button">
                Cadastrar
            </button>
        </div>
    </div>
    <table-component header="['Unidade federativa', 'Unidade federativa (sigla)']" campos="['nome', 'sigla']"
        body="read.estadoList" orderby="nome" acoes="read.tableAcoes" search="read.search">
    </table-component>
</section>