<section class="estados mt-4" ng-controller="EstadosControllerRead as read">
    <h2 class="text-center">Lista de Estados</h2>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card-body">

                    <div class="d-flex flex-row-reverse col-sm">
                        <div class="input-group-append">
                            <span class="input-group-text"> <i class="fas fa-search"></i></span>
                            <input type="text" class="form-control" placeholder="Pesquisar">&nbsp;&nbsp;&nbsp;
                            <a ng-href="#!/estados/novo" class="btn btn-success" type="button">Cadastrar</a>
                        </div>
                    </div>

                    <br />

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thread style="background-color: rgba(0,0,0,.03); text-align: center;">
                                <tr>
                                    <th>
                                        DESCRIÇÃO
                                        <i class="fas fa-sort"></i>
                                    </th>
                                    <th>
                                        UF
                                        <i class="fas fa-sort"></i>
                                    </th>
                                    <th colspan="2" class="text-center" width="2%">AÇÃO</th>
                                </tr>
                            </thread>
                            <tbody>
                                <tr ng-repeat="estado in read.estadoList | orderBy: 'nome'" scope="col-2">
                                    <td>{{estado.nome}}</td>
                                    <td>{{estado.sigla}}</td>
                                    <td class="text-center">
                                        <a value="editar" ng-click="vm.setEstadoAtual(estado)"
                                            ng-href="#!estados/atualizar" title="Editar"
                                            class="btn btn-sm btn-primary">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <button value="deletar" class="btn btn-sm btn-danger">
                                            <i class="far fa-trash-alt"></i>
                                        </button>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>