<nav class="navbar">
    <div class="container">
        <div class="side-bar">
            <div class="side-bar-icone">
                <i class=" fas fa-bars"></i>
            </div>
            <nav class="side-bar-itens ">

                <ul>
                    <li onclick="location.href='../Estado';">
                        Estado
                        <ul class="d-none side-bar-sub-itens">
                            <li>teste</li>
                            <li>teste</li>
                            <li>teste</li>
                            <li>teste</li>
                        </ul>
                    </li>
                    <li onclick="location.href='../Municipio';">Municipio
                        <ul class="d-none side-bar-sub-itens">
                            <li>teste 1</li>
                            <li>teste 1</li>
                            <li>teste 1</li>
                            <li>teste 1</li>
                        </ul>
                    </li>
                    <li onclick="location.href='../AreaDeConhecimento';">Area de conhecimento
                        <ul class="d-none side-bar-sub-itens">
                            <li>teste 2</li>
                            <li>teste 2</li>
                            <li>teste 2</li>
                            <li>teste 2</li>
                        </ul>
                    </li>
                    <li onclick="location.href='../Profissao';">Profições
                        <ul class="d-none side-bar-sub-itens">
                            <li>teste 2</li>
                            <li>teste 2</li>
                            <li>teste 2</li>
                            <li>teste 2</li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="logo mx-auto">
            <a class="navbar-brand" href="../home">
                <img src="../imagem/logo.svg" alt="Logo">
                CheDioi
            </a>
        </div>
    </div>
    </navc>