<section class="menu">

    <div class="container">

        <fieldset class="fieldset-border">
            <legend class="legend-border"><span><i class="fas fa-home"></i></span> HOME</legend>
            <div class="boxContent">

                <div class="card-wraper">
                    <div class="card-icon">
                        <div class="card-icon">
                            <center>
                                <img class="" src="../imagem/estados" width="250px" height="250px">
                            </center>
                        </div>
                        <div class="card-body">
                            <button class="btn-home" onclick="location.href='../Estado';">
                                ESTADOS
                            </button>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-icon">
                            <center>
                                <img class="" src="../imagem/municipios" width="250px" height="250px">
                            </center>
                        </div>
                        <div class="card-body">
                            <button class="btn-home" onclick="location.href='../Municipio';">
                                MUNICÍPIOS
                            </button>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-icon">
                            <center>
                                <img class="" src="../imagem/areasDeConhecimento" width="250px" height="250px">
                            </center>
                        </div>
                        <div class="card-body">
                            <button class="btn-home" onclick="location.href='../AreaDeConhecimento';">
                                ÁREAS DE CONHECIMENTO
                            </button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-icon">
                            <center>
                                <img class="" src="../imagem/profissoes" width="250px" height="250px">
                            </center>
                        </div>
                        <div class="card-body">
                            <button class="btn-home" onclick="location.href='../Profissao';">
                                PROFISSÕES
                            </button>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-icon">
                            <center>
                                <img class="" src="../imagem/funcionarios" width="250px" height="250px">
                            </center>
                        </div>
                        <div class="card-body">
                            <button class="btn-home" onclick="location.href='../Funcionario';">
                                FUNCIONÁRIOS
                            </button>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-icon">
                            <i class="fas fa-align-justify"></i>
                        </div>
                        <div class="card-body">
                            <button class="btn-home" onclick="location.href='';">
                                ....
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

    </div>
</section>