<div>
    <div class="card bg-primary mb-3">
        <div class="card-group">
            <div class="card" style="width: 18rem;">
                <img src="imagem/mapa.jpg" class="card-img-top" alt="Estados">
                <div class="card-body">
                    <button class="btn btn-outline-primary btn-block" onclick="location.href='#!/estado';">
                        ESTADOS
                    </button>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="imagem/lista.svg" class="card-img-top" alt="Municipios">
                <div class="card-body">
                    <a class="btn btn-outline-primary btn-block" href="../municipio">
                        MUNICIPIOS
                    </a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="imagem/lista.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a class="btn btn-outline-primary btn-block" href="../municipio">
                        ...
                    </a>
                </div>
            </div>
            <br />

            <div class="card" style="width: 18rem;">
                <img src="imagem/lista.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a class="btn btn-outline-primary btn-block" href="../municipio">
                        ...
                    </a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="imagem/lista.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a class="btn btn-outline-primary btn-block" href="../municipio">
                        ...
                    </a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="imagem/lista.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a class="btn btn-outline-primary btn-block" href="../municipio">
                        ...
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
