<fieldset class="fieldset-border">
    <legend class="legend-border">HOME</legend>
    <div class="boxContent">
        <div class="card-deck">
            <div class="card h-100">
                <img src="imagem/mapaa.png" class="card-img-top" alt="Estados">
                <div class="card-body">
                    <button class="btn btn-outline-primary btn-block" onclick="location.href='#!/estado';">
                        ESTADOS
                    </button>
                </div>
            </div>

            <div class="card h-100">
                <img src="imagem/municipio.png" class="card-img-top" alt="Municipios">
                <div class="card-body">
                    <a class="btn btn-outline-primary btn-block" onclick="location.href = '../municipio';">
                        MUNICÍPIOS
                    </a>
                </div>
            </div>

            <div class="card h-100">
                <img src="imagem/areaDeConhecimento.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a class="btn btn-outline-primary btn-block" onclick="location.href = '../areasDeConhecimento';">
                        ÁREAS DE CONHECIMENTO
                    </a>
                </div>
            </div>
        </div>
        <br />

        <div class="card-deck h-100">
            <div class="card">
                <img src="imagem/profissao.png" class="card-img-top" alt="Profissões">
                <div class="card-body">
                    <a class="btn btn-outline-primary btn-block" onclick="location.href = '../profissoes';">
                        PROFISSÕES
                    </a>
                </div>
            </div>

            <div class="card h-100">
                <img src="imagem/lista.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a class="btn btn-outline-primary btn-block" href="../home">
                        ...
                    </a>
                </div>
            </div>

            <div class="card">
                <img src="imagem/lista.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a class="btn btn-outline-primary btn-block" href="../home">
                        ...
                    </a>
                </div>
            </div>
        </div>
    </div>
</fieldset>

