<div ng-controller="ControllerCreate">
    <h2 class="text-center">Funcionario</h2><br />
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="dadosGerais-tab" data-toggle="tab" target="_self" href="#dadosGerais" role="tab"
                   aria-controls="dadosGerais" aria-selected="true">DadosGerais</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="endereco-tab" data-toggle="tab" target="_self" href="#endereco" role="tab"
                   aria-controls="endereco" aria-selected="false">Endereço</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="infoAdicionais-tab" data-toggle="tab" target="_self" href="#infoAdicionais" role="tab"
                   aria-controls="infoAdicionais" aria-selected="false">Info Adicionais</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="dependentes-tab" data-toggle="tab" target="_self" href="#dependentes" role="tab"
                   aria-controls="dependentes" aria-selected="false">Dependentes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contrato-tab" data-toggle="tab" target="_self" href="#contrato" role="tab"
                   aria-controls="contrato" aria-selected="false">Contrato</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="reajuste-tab" data-toggle="tab" target="_self" href="#reajuste" role="tab"
                   aria-controls="reajuste" aria-selected="false">Reajuste</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="recibo-tab" data-toggle="tab" target="_self" href="#recibo" role="tab" aria-controls="recibo"
                   aria-selected="false">Recibo</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="dadosGerais" role="tabpanel" aria-labelledby="dadosGerais-tab">
                <br />
                <form ng-submit="Cadastrar()" name="DadosGeraisForm">
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="inputName">Nome *</label>
                            <input ng-model="Nome" class="form-control" pattern="^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+" id="inputName" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputCPF">CPF *</label>
                            <input ng-model="Cpf" class="form-control" id="inputCPF" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" placeholder="000.000.000-00" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputRG">RG *</label>
                            <input ng-model="Rg" class="form-control" id="inputRG" pattern="\d{2}\.\d{3}\.\d{3}-\d{1}" placeholder="00.000.000-0" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputOrgao">Orgão Emissor *</label>
                            <input ng-model="OrgaoEmissor" type="text" class="form-control" id="inputOrgao" pattern="^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputDataNasc">Data de Nascimento *</label>
                            <div class="input-group datepicker">
                                <input ng-model="DataNascimento" type="text" class="form-control" id="inputDataNasc" placeholder="dd/mm/aaaa" pattern="[0-9]{2}\/[0-9]{2}\/[0-9]{4}$" required>
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-calendar-alt"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputSexo">Sexo *</label>
                            <select ng-model="Sexo" id="inputSexo" class="form-control" required>
                                <option disabled value="">Selecione</option>
                                <option value="M">Masculino</option>
                                <option value="F">Feminino</option> 
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputCNH">CNH</label>
                            <input ng-model="Cnh" type="text" class="form-control" id="inputCNH" placeholder="00000000000" pattern="[0-9]{11}">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputMatricula">Matricula *</label>
                            <input ng-model="Matricula" type="text" class="form-control" id="inputMatricula" pattern="[0-9]+$" placeholder="000000000" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputDataAdim">Data de Adimissão *</label>
                            <div class="input-group datepicker">
                                <input ng-model="DataDeAdimissao" class="form-control" id="inputDataAdim" placeholder="dd/mm/aaaa" pattern="[0-9]{2}\/[0-9]{2}\/[0-9]{4}$" required>
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-calendar-alt"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputSalario">Salário *</label>
                            <div class="input-group datepicker">
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">R$</button>
                                </span>
                                <input ng-model="Salario" type="text" class="form-control" id="inputSalario" pattern="[\d,.]*" required>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputTelefone">Telefone *</label>
                            <div class="input-group datepicker">
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-phone-square-alt"></i>
                                    </button>
                                </span>
                                <input ng-model="Telefone" type="text" class="form-control" id="inputTelefone"
                                       placeholder="(00) 99999-9999" pattern="\([0-9]{2}\)[0-9]{4}-[0-9]{4}$" required>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputCelular">Celular</label>
                            <div class="input-group datepicker">
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-mobile-alt"></i>
                                    </button>
                                </span>
                                <input ng-model="Celular" type="text" class="form-control" id="inputCelular" 
                                       placeholder="(00) 99999-9999"  pattern="\([0-9]{2}\)[0-9]{5}-[0-9]{4}$">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputEstadoCivil">Estado Civil *</label>
                            <select ng-model="EstadoCivil" id="inputEstadoCivil" class="form-control" required>
                                <option disabled value="">Selecione</option>
                                <option>Solteiro</option>
                                <option>Casado</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputProfissao">Profissão *</label>
                            <select ng-model="Profissao" id="inputProfissao" class="form-control" required>
                                <option disabled value="">Selecione</option>
                                <option>Analista de Requistos</option>
                                <option>Desenvolvedor FrontEnd</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputEmail">E-mail</label>
                            <div class="input-group datepicker">
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">@</button>
                                </span>
                                <input ng-model="Email" type="email" class="form-control" id="inputEmail">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputAreaDeConhec">Área de Conhecimento *</label>
                            <select ng-model="AreaDeConhecimento" id="inputAreaDeConhec" class="form-control" required>
                                <option disabled value="">Selecione</option>
                                <option>Desenvolvimento Responsivel de Telas</option>
                                <option>Controle de Versão de Git</option>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex flex-row-reverse col-sm">
                        <div class="input-group-append">
                            <button ng-click="CarregarPagina('/Funcionario')" title="Voltar" class="btn btn-warning"><i class="fas fa-angle-left"></i> Voltar</button>
                            &nbsp;&nbsp;&nbsp;
                            <button class="btn btn-success" type="submit" >Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="endereco" role="tabpanel" aria-labelledby="endereco-tab">
                <br />
                <form ng-submit="Cadastrar()" name="EnderecoForm">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputCEP">CEP</label>
                            <input ng-model="Cep" type="text" class="form-control" id="inputCEP" pattern="[0-9]{5}-[0-9]{3}$" placeholder="00000-000">
                        </div>
                        <div class="form-group col-md-1">
                            <!--Espacamento-->
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputEstado">Estado *</label>
                            <select ng-model="Estado" id="inputEstado" class="form-control" required>
                                <option disabled value="">Selecione</option>
                                <option>Acre</option>
                                <option>Mato Grosso Do Sul</option>
                            </select>
                        </div>
                        <div class="form-group col-md-1">
                            <!--Espacamento-->
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputMunicipio">Municipio *</label>
                            <select ng-model="Municipio" id="inputMunicipio" class="form-control" required>
                                <option disabled value="">Selecione</option>
                                <option>Campo Grande</option>
                                <option>Dourados</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="inputLougradoro">Lougradoro *</label>
                            <input ng-model="Logradouro" type="text" class="form-control" id="inputLougradoro" required>
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="form-group col-md-2">
                            <label for="inputNumero">Número *</label>
                            <input ng-model="Numero" type="text" class="form-control" id="inputNumero" pattern="[0-9]+$" required>
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="form-group col-md-3">
                            <label for="inputBairro">Bairro *</label>
                            <input ng-model="Bairro" type="text" class="form-control" id="inputBairro" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputComplemento">Complemento</label>
                            <input ng-model="Complemento" type="text" class="form-control" id="inputComplemento" pattern="^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+">
                        </div>
                    </div>
                    <div class="d-flex flex-row-reverse col-sm">
                        <div class="input-group-append">
                            <button ng-click="CarregarPagina('/Funcionario')" title="Voltar" class="btn btn-warning"><i class="fas fa-angle-left"></i> Voltar</button>
                            &nbsp;&nbsp;&nbsp;
                            <button class="btn btn-success" type="submit">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="infoAdicionais" role="tabpanel" aria-labelledby="infoAdicionais-tab">
                <br />
                <form ng-submit="Cadastrar()" name="InfoAdicionaisForm">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputCTPS">CTPS *</label>
                            <input ng-model="Ctps" type="text" class="form-control" id="inputCTPS" pattern="[0-9]{7}" placeholder="0000000" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputSerieCart">Série Cart. Trab *</label>
                            <input ng-model="CtpsSerie" type="text" class="form-control" id="inputSerieCart" pattern="[0-9]{3}" placeholder="000" required> 
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputUFCart">UF Cart. Trab *</label>
                            <input ng-model="CtpsUf" type="text" class="form-control" id="inputUFCart" pattern="^[a-zA-Z]{2}$" placeholder="XX" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPisPasep">Pis / Pasep *</label>
                            <input ng-model="PisPasep" type="text" class="form-control" id="inputPisPasep" pattern="[0-9]{3}.[0-9]{5}.[0-9]{2}-[0-9]{1}$" placeholder="000.00000.00-0" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputTipoConta">Tipo de conta *</label>
                            <select ng-model="TipoDeConta" id="inputTipoConta" class="form-control" required>
                                <option value="">Selecione</option>
                                <option>Salário</option>
                                <option>Corrente</option>
                                <option>Pupança</option>
                            </select>
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="form-group col-md-3">
                            <label for="inputBanco">Banco *</label>
                            <input ng-model="Banco" type="text" class="form-control" id="inputBanco" pattern="^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+" required>
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="form-group col-md-2">
                            <label for="inputAgencia">Agência *</label>
                            <input ng-model="Agencia" type="text" class="form-control" id="inputAgencia" placeholder="0000" pattern="[0-9]{4}$" required>
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="form-group col-md-2">
                            <label for="inputConta">Conta *</label>
                            <input ng-model="Conta" type="text" class="form-control" id="inputConta" placeholder="00000000-0" pattern="[0-9]{8}-[0-9]{1}$" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputInter">Interesses</label>
                            <textarea ng-model="Interesses" class="form-control" id="inputInter"  pattern="^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+"></textarea>
                        </div>
                    </div>
                    <div class="d-flex flex-row-reverse col-sm">
                        <div class="input-group-append">
                            <button ng-click="CarregarPagina('/Funcionario')" title="Voltar" class="btn btn-warning"><i class="fas fa-angle-left"></i> Voltar</button>
                            &nbsp;&nbsp;&nbsp;
                            <button class="btn btn-success" type="submit">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="dependentes" role="tabpanel" aria-labelledby="dependentes-tab">
                <br />
                <div class="form-row">
                    <div>
                        <div class="form-check">
                            <label>Possui dependentes?</label> &nbsp;&nbsp;&nbsp;
                            <input ng-click="AbaDependetes()" ng-model="TemDependente" type="checkbox" class="form-check-input" id="inputDepedente">
                            <label class="form-check-label" for="inputDepedente">Sim</label>
                        </div>
                    </div>
                </div>
                <form ng-show="TemDependente" ng-hide="!TemDependente" ng-submit="Cadastrar()" name="DependentesForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputNomeDep">Nome *</label>
                            <input ng-model="NomeDependente" type="text" class="form-control" id="inputNomeDep" pattern="[A-Za-zÀ-ú., -]{5,}" ng-required="TemDependente">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputRGDep">RG</label>
                            <input ng-model="RgDependente" type="text" class="form-control" id="inputRGDep" pattern="\d{2}\.\d{3}\.\d{3}-\d{1}"  placeholder="00.000.000-0">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputOrgaoDep">Órgão Emissor</label>
                            <input ng-model="OrgaoDependente" type="text" class="form-control" id="inputOrgaoDep" pattern="^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputCPFDep">CPF</label>
                            <input ng-model="CpfDependente" type="text" class="form-control" id="inputCPFDep" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" placeholder="000.000.000-00">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputSexoDep">Sexo *</label>
                            <select ng-model="SexoDependente" id="inputSexoDep" class="form-control" ng-required="TemDependente">
                                <option disabled value="">Selecione</option>
                                <option>Masculino</option>
                                <option>Feminino</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputGrau">Grau de parentesco *</label>
                            <input ng-model="GrauParentesco" type="text" class="form-control" id="inputGrau" pattern="^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+" ng-required="TemDependente">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputDataNascDep">Data de Nascimento *</label>
                            <div class="input-group datepicker">
                                <input ng-model="DataNascimentoDependente" type="text" class="form-control" id="inputDataNascDep" 
                                       placeholder="dd/mm/aaaa" pattern="[0-9]{2}\/[0-9]{2}\/[0-9]{4}$" ng-required="TemDependente">
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-calendar-alt"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCertNascDep">Nº Certidão de Nascimento *</label>
                            <input ng-model="CertidaoNascimento" type="text" class="form-control" id="inputCertNascDep" 
                                   placeholder="000000 00 00 0000 0 00000 000 0000000-00" 
                                   pattern="[0-9]{6} [0-9]{2} [0-9]{2} [0-9]{4} [0-9]{1} [0-9]{5} [0-9]{3} [0-9]{7}-[0-9]{2}" ng-required="TemDependente">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputCEPDep">CEP</label>
                            <input ng-model="CepDependente" type="text" class="form-control" id="inputCEPDep" pattern="[0-9]{5}-[0-9]{3}$">
                        </div>
                        <div class="form-group col-md-1">
                            <!--Espacamento-->
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="form-group col-md-3">
                            <label for="inputEstadoDep">Estado *</label>
                            <select ng-model="EstadoDependente" id="inputEstadoDep" class="form-control" ng-required="TemDependente">
                                <option value="">Selecione</option>
                                <option>Estado 1</option>
                                <option>Estado 2</option>
                                <option>Estado 3</option>
                            </select>
                        </div>
                        <div class="form-group col-md-1">
                            <!--Espacamento-->
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="form-group col-md-3">
                            <label for="inputMunicipioDep">Município *</label>
                            <select ng-model="MunicipioDependente" id="inputMunicipioDep" class="form-control">
                                <option selected>...</option>
                                <option>Municipio 1</option>
                                <option>Municipio 2</option>
                                <option>Municipio 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputLogradouroDep">Logradouro *</label>
                            <input ng-model="LogradouroDependente" type="text" class="form-control" id="inputLogradouroDep">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputNumeroDep">Número *</label>
                            <input ng-model="NumeroDependente" type="text" class="form-control" id="inputNumeroDep">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputBairroDep">Bairro *</label>
                            <input ng-model="BairroDependente" type="text" class="form-control" id="inputBairroDep">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputComplementoDep">Complemento</label>
                            <input ng-model="ComplementoDependente" type="text" class="form-control" id="inputComplementoDep">
                        </div>
                    </div>
                    <div class="d-flex flex-row-reverse col-sm">
                        <div class="input-group-append">
                            <button ng-click="CarregarPagina('/Funcionario')" title="Voltar" class="btn btn-warning"><i class="fas fa-angle-left"></i> Voltar</button>
                            &nbsp;&nbsp;&nbsp;
                            <button class="btn btn-success" type="submit">Salvar</button>
                        </div>
                    </div>
                    <br /><br />
                </form>
            </div>
            <div class="tab-pane fade" id="contrato" role="tabpanel" aria-labelledby="contrato-tab">
                <br />
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputStatusAtual">Status Atual *</label>
                            <select ng-model="StatusAtual" id="inputStatusAtual" class="form-control">
                                <option selected>...</option>
                                <option>Ativo</option>
                                <option>Inativo</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputDataAdimi">Data Adimissão*</label>
                            <div class="input-group datepicker">
                                <input  type="text" class="form-control" id="inputDataAdimi" placeholder="dd/mm/aaaa">
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-calendar-alt"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputDataReci">Data Recissão*</label>
                            <div class="input-group datepicker">
                                <input ng-model="DataRecisao" type="text" class="form-control" id="inputDataReci" placeholder="dd/mm/aaaa">
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-calendar-alt"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row-reverse col-sm">
                        <div class="input-group-append">
                            <button ng-click="CarregarPagina('/Funcionario')" title="Voltar" class="btn btn-warning"><i class="fas fa-angle-left"></i> Voltar</button>
                            &nbsp;&nbsp;&nbsp;
                            <button class="btn btn-success" type="button" ng-click="Cadastrar()" >Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="reajuste" role="tabpanel" aria-labelledby="reajuste-tab">
                <br />
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputDataReajuSalData">Reajuste Salarial Data*</label>
                            <div class="input-group datepicker">
                                <input ng-model="Reajuste_SalarialData" type="text" class="form-control" id="inputDataReajuSalData"
                                       placeholder="dd/mm/aaaa">
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-calendar-alt"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-md-1">
                            <!--Espacamento-->
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputReajuSalValor">Reajuste Salarial Valor*</label>
                            <div class="input-group datepicker">
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">R$</button>
                                </span>
                                <input ng-model="Reajuste_SalarialValor" type="text" class="form-control" id="inputReajuSalValor">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputDataReajuSinData">Reajuste Sindical Data*</label>
                            <div class="input-group datepicker">
                                <input ng-model="Reajuste_SindicalData" type="text" class="form-control" id="inputDataReajuSinData"
                                       placeholder="dd/mm/aaaa">
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-calendar-alt"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-md-1">
                            <!--Espacamento-->
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputReajuSinValor">Reajuste Sindical Valor*</label>
                            <div class="input-group datepicker">
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">R$</button>
                                </span>
                                <input ng-model="Reajuste_SindicalValor" type="text" class="form-control" id="inputReajuSinValor">
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row-reverse col-sm">
                        <div class="input-group-append">
                            <button ng-click="CarregarPagina('/Funcionario')" title="Voltar" class="btn btn-warning"><i class="fas fa-angle-left"></i> Voltar</button>
                            &nbsp;&nbsp;&nbsp;
                            <button class="btn btn-success" type="button"ng-click="Cadastrar()" >Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="recibo" role="tabpanel" aria-labelledby="recibo-tab">
                <br />
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputDataPadrao">Data Padrão*</label>
                            <div class="input-group datepicker">
                                <input ng-model="DataPadrao" type="text" class="form-control" id="inputDataPadrao" placeholder="dd/mm/aaaa">
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-calendar-alt"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputValInicial">Valor Inicial*</label>
                            <div class="input-group datepicker">
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">R$</button>
                                </span>
                                <input ng-model="ValorInicial" type="text" class="form-control" id="inputValInicial">
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputValAtual">Valor Atual*</label>
                            <div class="input-group datepicker">
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">R$</button>
                                </span>
                                <input ng-model="ValorAtual" type="text" class="form-control" id="inputValAtual">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            Pagamento Adiantado:
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                       value="option1">
                                <label class="form-check-label" for="inlineRadio1">S</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                       value="option2">
                                <label class="form-check-label" for="inlineRadio2">N</label>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputValFerias">Valor Férias*</label>
                            <div class="input-group datepicker">
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">R$</button>
                                </span>
                                <input ng-model="ValorFerias" type="text" class="form-control" id="inputValFerias">
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row-reverse col-sm">
                        <div class="input-group-append">
                            <button ng-click="CarregarPagina('/Funcionario')" title="Voltar" class="btn btn-warning"><i class="fas fa-angle-left"></i> Voltar</button>
                            &nbsp;&nbsp;&nbsp;
                            <button class="btn btn-success" type="button" ng-click="Cadastrar()" >Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>