<div ng-controller="ControllerUpdate">
    <h2 class="text-center">Funcionario</h2><br />
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="dadosGerais-tab" data-toggle="tab" target="_self" href="#dadosGerais" role="tab"
                   aria-controls="dadosGerais" aria-selected="true">DadosGerais</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="endereco-tab" data-toggle="tab" target="_self" href="#endereco" role="tab"
                   aria-controls="endereco" aria-selected="false">Endereço</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="infoAdicionais-tab" data-toggle="tab" target="_self" href="#infoAdicionais" role="tab"
                   aria-controls="infoAdicionais" aria-selected="false">Info Adicionais</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="dependentes-tab" data-toggle="tab" target="_self" href="#dependentes" role="tab"
                   aria-controls="dependentes" aria-selected="false">Dependentes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contrato-tab" data-toggle="tab" target="_self" href="#contrato" role="tab"
                   aria-controls="contrato" aria-selected="false">Contrato</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="reajuste-tab" data-toggle="tab" target="_self" href="#reajuste" role="tab"
                   aria-controls="reajuste" aria-selected="false">Reajuste</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="recibo-tab" data-toggle="tab" target="_self" href="#recibo" role="tab" aria-controls="recibo"
                   aria-selected="false">Recibo</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="dadosGerais" role="tabpanel" aria-labelledby="dadosGerais-tab">
                <br />
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="inputName">Nome *</label>
                            <input type="text" class="form-control" id="inputName" value="{{FuncionarioAtual.Nome}}">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputCPF">CPF *</label>
                            <input type="text" class="form-control" id="inputCPF" placeholder="000.000.000-00"  value="{{FuncionarioAtual.Cpf}}">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputRG">RG *</label>
                            <input type="text" class="form-control" id="inputRG" placeholder="0.000.000"  value="{{FuncionarioAtual.Rg}}">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputOrgao">Orgão Emissor *</label>
                            <input type="text" class="form-control" value="{{FuncionarioAtual.OrgaoEmissor}}" id="inputOrgao">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputDataNasc">Data de Nascimento *</label>
                            <div class="input-group datepicker">
                                <input type="text" class="form-control" id="inputDataNasc" placeholder="" value="{{FuncionarioAtual.DataNascimento}}">
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-calendar-alt"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputSexo">Sexo *</label>
                            <select id="inputSexo" class="form-control" >
                                <option selected>{{FuncionarioAtual.Sexo}}</option>
                                <option>Masculino</option>
                                <option>Feminino</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputCNH">CNH</label>
                            <input type="text" class="form-control" id="inputCNH" placeholder="00000000000" value="{{FuncionarioAtual.Cnh}}">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputMatricula">Matricula *</label>
                            <input type="text" class="form-control" id="inputMatricula" placeholder="000000000" value="{{FuncionarioAtual.Matricula}}" >
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputDataAdim">Data de Adimissão *</label>
                            <div class="input-group datepicker">
                                <input type="text" class="form-control" id="inputDataAdim" placeholder="dd/mm/aaaa" value="{{FuncionarioAtual.Contrato.DataDeAdimissao}}">
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-calendar-alt"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputSalario">Salário *</label>
                            <div class="input-group datepicker">
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button" >R$</button>
                                </span>
                                <input type="text" class="form-control" id="inputSalario" value="{{FuncionarioAtual.Salario}}">
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputTelefone">Telefone *</label>
                            <div class="input-group datepicker">
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-phone-square-alt"></i>
                                    </button>
                                </span>
                                <input type="text" class="form-control" id="inputTelefone"
                                       placeholder="(00) 99999-9999" value="{{FuncionarioAtual.Telefone}}">
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputCelular">Celular *</label>
                            <div class="input-group datepicker">
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-mobile-alt"></i>
                                    </button>
                                </span>
                                <input type="text" class="form-control" id="inputCelular" placeholder="(00) 99999-9999" value="{{FuncionarioAtual.Celular}}">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputEstadoCivil">Estado Civil *</label>
                            <select id="inputEstadoCivil" class="form-control">
                                <option selected>{{FuncionarioAtual.EstadoCivil}}</option>
                                <option>Solteiro</option>
                                <option>Casado</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputProfissao">Profissão *</label>
                            <select id="inputProfissao" class="form-control">
                                <option selected>...</option>
                                <option>Analista de Requistos</option>
                                <option>Desenvolvedor FrontEnd</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputEmail">E-mail</label>
                            <div class="input-group datepicker">
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">@</button>
                                </span>
                                <input type="text" class="form-control" id="inputEmail" value="{{FuncionarioAtual.Email}}">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputAreaDeConhec">Área de Conhecimento *</label>
                            <select id="inputAreaDeConhec" class="form-control">
                                <option selected>...</option>
                                <option>Desenvolvimento Responsivel de Telas</option>
                                <option>Controle de Versão de Git</option>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex flex-row-reverse col-sm">
                        <div class="input-group-append">
                            <button class="btn btn-warning" type="button" ng-click="CarregarPagina('/Funcionarios')">Voltar</button>
                            &nbsp;&nbsp;&nbsp;
                            <button class="btn btn-success" type="button" ng-click="Atualizar()">Atualizar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="endereco" role="tabpanel" aria-labelledby="endereco-tab">
                <br />
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputCEP">CEP</label>
                            <input type="text" class="form-control" id="inputCEP" value="{{FuncionarioAtual.Endereco.CEP}}" placeholder="00000-000">
                        </div>
                        <div class="form-group col-md-1">
                            <!--Espacamento-->
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputEstado">Estado *</label>
                            <select id="inputEstado" class="form-control">
                                <option selected>...</option>
                                <option>Acre</option>
                                <option>Mato Grosso Do Sul</option>
                            </select>
                        </div>
                        <div class="form-group col-md-1">
                            <!--Espacamento-->
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputMunicipio">Municipio *</label>
                            <select id="inputMunicipio" class="form-control">
                                <option selected>...</option>
                                <option>Campo Grande</option>
                                <option>Dourados</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="inputLougradoro">Lougradoro *</label>
                            <input type="text" class="form-control" id="inputLougradoro" value="{{FuncionarioAtual.Endereco.Logradouro}}">
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="form-group col-md-2">
                            <label for="inputNumero">Número *</label>
                            <input type="text" class="form-control" id="inputNumero" value="{{FuncionarioAtual.Endereco.Numero}}">
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="form-group col-md-3">
                            <label for="inputBairro">Bairro *</label>
                            <input type="text" class="form-control" id="inputBairro" value="{{FuncionarioAtual.Endereco.Bairro}}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputComplemento">Complemento</label>
                            <input type="text" class="form-control" id="inputComplemento" value="{{FuncionarioAtual.Endereco.Complemento}}">
                        </div>
                    </div>
                    <div class="d-flex flex-row-reverse col-sm">
                        <div class="input-group-append">
                            <button class="btn btn-success" type="button" ng-click="">Voltar</button>
                            &nbsp;&nbsp;&nbsp;
                            <button class="btn btn-success" type="button" ng-click="">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="infoAdicionais" role="tabpanel" aria-labelledby="infoAdicionais-tab">
                <br />
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputCTPS">CTPS *</label>
                            <input type="text" class="form-control" id="inputCTPS">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputSerieCart">Série Cart. Trab *</label>
                            <input type="text" class="form-control" id="inputSerieCart" placeholder="">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputUFCart">UF Cart. Trab *</label>
                            <input type="text" class="form-control" id="inputUFCart" placeholder="">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPisPasep">Pis / Pasep *</label>
                            <input type="text" class="form-control" id="inputPisPasep">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputTipoConta">Tipo de conta *</label>
                            <select id="inputTipoConta" class="form-control">
                                <option selected>...</option>
                                <option>Salário</option>
                                <option>Corrente</option>
                                <option>Pupança</option>
                            </select>
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="form-group col-md-3">
                            <label for="inputBanco">Banco *</label>
                            <input type="text" class="form-control" id="inputBanco">
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="form-group col-md-2">
                            <label for="inputAgencia">Agência *</label>
                            <input type="text" class="form-control" id="inputAgencia">
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="form-group col-md-2">
                            <label for="inputConta">Conta *</label>
                            <input type="text" class="form-control" id="inputConta">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputInter">Interesses</label>
                            <textarea class="form-control" id="inputInter"></textarea>
                        </div>
                    </div>
                    <div class="d-flex flex-row-reverse col-sm">
                        <div class="input-group-append">
                            <button class="btn btn-success" type="button" ng-click="">Voltar</button>
                            &nbsp;&nbsp;&nbsp;
                            <button class="btn btn-success" type="button" ng-click="">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="dependentes" role="tabpanel" aria-labelledby="dependentes-tab">
                <br />
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-2"
                             style="display:flex; flex-direction: row; justify-content: flex-start; align-self: flex-start; white-space: nowrap">
                            <label for="inputDepedente">Possui dependentes?</label>&nbsp;&nbsp;
                            <input type="checkbox" class="form-control" id="inputDepedente">&nbsp;&nbsp;
                            <label for="inputDepedente">Sim</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputNomeDep">Nome *</label>
                            <input type="text" class="form-control" id="inputNomeDep">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputRGDep">RG</label>
                            <input type="text" class="form-control" id="inputRGDep" placeholder="">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputOrgaoDep">Órgão Emissor</label>
                            <input type="text" class="form-control" id="inputOrgaoDep" placeholder="">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputCPFDep">CPF</label>
                            <input type="text" class="form-control" id="inputCPFDep" placeholder="">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputSexoDep">Sexo *</label>
                            <select id="inputSexoDep" class="form-control">
                                <option selected>...</option>
                                <option>Masculino</option>
                                <option>Feminino</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputGrau">Grau de parentesco *</label>
                            <input type="text" class="form-control" id="inputGrau">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputDataNascDep">Data de Nascimento *</label>
                            <div class="input-group datepicker">
                                <input type="text" class="form-control" id="inputDataNascDep" placeholder="dd/mm/aaaa">
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-calendar-alt"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCertNascDep">Nº Certidão de Nascimento *</label>
                            <input type="text" class="form-control" id="inputCertNascDep">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputCEPDep">CEP</label>
                            <input type="text" class="form-control" id="inputCEPDep">
                        </div>
                        <div class="form-group col-md-1">
                            <!--Espacamento-->
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="form-group col-md-3">
                            <label for="inputEstadoDep">Estado *</label>
                            <select id="inputEstadoDep" class="form-control">
                                <option selected>...</option>
                                <option>Estado 1</option>
                                <option>Estado 2</option>
                                <option>Estado 3</option>
                            </select>
                        </div>
                        <div class="form-group col-md-1">
                            <!--Espacamento-->
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="form-group col-md-3">
                            <label for="inputMunicipioDep">Município *</label>
                            <select id="inputMunicipioDep" class="form-control">
                                <option selected>...</option>
                                <option>Municipio 1</option>
                                <option>Municipio 2</option>
                                <option>Municipio 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputLogradouroDep">Logradouro *</label>
                            <input type="text" class="form-control" id="inputLogradouroDep">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputNumeroDep">Número *</label>
                            <input type="text" class="form-control" id="inputNumeroDep">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputBairroDep">Bairro *</label>
                            <input type="text" class="form-control" id="inputBairroDep">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputComplementoDep">Complemento</label>
                            <input type="text" class="form-control" id="inputComplementoDep">
                        </div>
                    </div>
                    <div class="d-flex flex-row-reverse col-sm">
                        <div class="input-group-append">
                            <button class="btn btn-success" type="button" ng-click="">Voltar</button>
                            &nbsp;&nbsp;&nbsp;
                            <button class="btn btn-success" type="button" ng-click="">Salvar</button>
                        </div>
                    </div>
                    <br /><br />
                </form>
            </div>
            <div class="tab-pane fade" id="contrato" role="tabpanel" aria-labelledby="contrato-tab">
                <br />
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputStatusAtual">Status Atual *</label>
                            <select id="inputStatusAtual" class="form-control">
                                <option selected>...</option>
                                <option>Ativo</option>
                                <option>Inativo</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputDataAdimi">Data Adimissão*</label>
                            <div class="input-group datepicker">
                                <input type="date" class="form-control" id="inputDataAdimi" placeholder="dd/mm/aaaa">
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-calendar-alt"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputDataReci">Data Recissão*</label>
                            <div class="input-group datepicker">
                                <input type="text" class="form-control" id="inputDataReci" placeholder="dd/mm/aaaa">
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-calendar-alt"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row-reverse col-sm">
                        <div class="input-group-append">
                            <button class="btn btn-success" type="button" ng-click="">Voltar</button>
                            &nbsp;&nbsp;&nbsp;
                            <button class="btn btn-success" type="button" ng-click="">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="reajuste" role="tabpanel" aria-labelledby="reajuste-tab">
                <br />
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputDataReajuSalData">Reajuste Salarial Data*</label>
                            <div class="input-group datepicker">
                                <input type="text" class="form-control" id="inputDataReajuSalData"
                                       placeholder="dd/mm/aaaa">
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-calendar-alt"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-md-1">
                            <!--Espacamento-->
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputReajuSalValor">Reajuste Salarial Valor*</label>
                            <div class="input-group datepicker">
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">R$</button>
                                </span>
                                <input type="text" class="form-control" id="inputReajuSalValor">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputDataReajuSinData">Reajuste Sindical Data*</label>
                            <div class="input-group datepicker">
                                <input type="text" class="form-control" id="inputDataReajuSinData"
                                       placeholder="dd/mm/aaaa">
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-calendar-alt"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-md-1">
                            <!--Espacamento-->
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputReajuSinValor">Reajuste Sindical Valor*</label>
                            <div class="input-group datepicker">
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">R$</button>
                                </span>
                                <input type="text" class="form-control" id="inputReajuSinValor">
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row-reverse col-sm">
                        <div class="input-group-append">
                            <button class="btn btn-success" type="button" ng-click="">Voltar</button>
                            &nbsp;&nbsp;&nbsp;
                            <button class="btn btn-success" type="button" ng-click="">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="recibo" role="tabpanel" aria-labelledby="recibo-tab">
                <br />
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputDataPadrao">Data Padrão*</label>
                            <div class="input-group datepicker">
                                <input type="text" class="form-control" id="inputDataPadrao" placeholder="dd/mm/aaaa">
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-calendar-alt"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputValInicial">Valor Inicial*</label>
                            <div class="input-group datepicker">
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">R$</button>
                                </span>
                                <input type="text" class="form-control" id="inputValInicial">
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputValAtual">Valor Atual*</label>
                            <div class="input-group datepicker">
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">R$</button>
                                </span>
                                <input type="text" class="form-control" id="inputValAtual">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            Pagamento Adiantado:
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                       value="option1">
                                <label class="form-check-label" for="inlineRadio1">S</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                       value="option2">
                                <label class="form-check-label" for="inlineRadio2">N</label>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputValFerias">Valor Férias*</label>
                            <div class="input-group datepicker">
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="button">R$</button>
                                </span>
                                <input type="text" class="form-control" id="inputValFerias">
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row-reverse col-sm">
                        <div class="input-group-append">
                            <button class="btn btn-success" type="button" ng-click="">Voltar</button>
                            &nbsp;&nbsp;&nbsp;
                            <button class="btn btn-success" type="button" ng-click="">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
