<div ng-controller="ControllerRead">

    <h2 class="text-center">Lista de Áreas de Conhecimento</h2>

    <br /><br />

    <div class="d-flex flex-row-reverse">
        <div class="row">
            <div class="input-group-append ">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Digite uma Área de conhecimento ..." size="28" ng-model="busca.Descricao" />
            </div>
        </div>
    </div>

    <br />

    <div class="row">

        <div class="col-sm">
            <label>Mostrar</label>
            <select class="btn dropdown-toggle text-center"
                    ng-model="ItemPorPagina" ng-init='ItemPorPagina = "10"'>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
            </select>
            <label>registros</label>
        </div>

        <div class="d-flex flex-row-reverse col-sm">
            <button class="btn btn-success" type="button" onclick="location.href='#!/Criar'" ng-click="create()">Cadastrar</button>
        </div>
    </div>
    <br />

    <div class="table-responsive">
        <table class="table table-bordered">
            <thread>
                <tr>
                    <th ng-click="Sort('Descricao')">
                        DESCRIÇÃO
                        <i class="fas fa-sort" ng-show="SortKey=='Descricao'"></i>
                    </th>
                    <th colspan="2" align="center" width="2%"><b>AÇÃO</b></th>
                </tr>
            </thread>
            <tbody>
                <tr dir-paginate="AreaDeConhecimento in AreasDeConhecimento | orderBy:'Descricao': Reverse | filter:busca |filter:change | itemsPerPage:ItemPorPagina"
                    scope="col-2">
                    <td>{{AreaDeConhecimento.Descricao}}</td>

                    <td align="center">
                        <button value="editar" title="Editar" class="btn btn-primary" ng-click="CarregarPagina('/Atualizar'); DefineAreaDeConhecimentoAtual(AreaDeConhecimento)">
                            <i class="fas fa-edit"></i>
                        </button>
                    </td>
                    <td align="center">
                        <button class="btn btn-danger" ng-click="Deletar(AreaDeConhecimento)"><i class="far fa-trash-alt"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <dir-pagination-controls class="d-flex flex-row-reverse" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                             template-url="dirPagination.tpl.html" max-size="12"></dir-pagination-controls>
</div>