
    <div ng-controller="controllerCreate" class="row">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>
                        <label>Criação da Área de Conhecimento</label>
                 
                    <br>
                    
                        <label>Nome da Área de Conhecimento</label>
                 
                        <input id="createDescricao" class="form-control" type="text" ng-model="NovaAreaConhecimento" />
                    </td>
                </tr>
                <tr style="text-align: center">
                    <td>
                        <input type="button" ng-click="Criar()" value="Cadastrar" class="btn btn-success" /> 
                        <button type="button" ng-click="CarregarPagina('/AreaDeConhecimento')" class="btn btn-warning">Voltar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
