<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/paginator.css" />
    <link rel="stylesheet" href="../css/home.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="../js/constantes.js"></script>
    <script src="../js/paginate.js"></script>
    <script src="../../Module/AreaDeConhecimento/ModuleAreaDeConhecimento.js" charset="utf-8"></script>
    <script src="../../Controller/AreaDeConhecimento/Read.js" charset="utf-8"></script>
    <script src="../../controller/AreaDeConhecimento/Update.js"></script>
    <script src="../../Controller/AreaDeConhecimento/Create.js"></script>
    <script src="../../Controller/Header/HeaderController.js"></script>
    
</head>
<body ng-app="myApp">
    
    <header ng-include="header.url" ng-controller="ControllerHeader"></header>
    </br>

    <div class="main container" ng-view></div>

</body>
</html>