<div ng-controller="controllerUpdate" class="row">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    <label>Descrição Da Área De Conhecimento:</label>
                    <input class="form-control" ng-model="Descricao" type="text" required="required" name="text" pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" />
                </td>
            </tr>
            <tr style="text-align: center">
                <td>
                    <button type="button" class="btn btn-primary" ng-click="atualizar(Descricao)">Atualizar</button>
                    <button ng-click="Cancelar()" type="button" class="btn btn-warning">Cancelar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>