<div ng-controller="Delete" class="row">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    <label ng-model="DescricaoD">Deseja realmente deletar a Profissão <strong>{{DescricaoD}}</strong>?</label>
                </td>
            </tr>
            <tr style="text-align: center">
                <td>
                    <button type="button" class="btn btn-danger" ng-click="Delete(ProfissaoAtual)">Deletar</button>
                    <button type="button" class="btn btn-warning" ng-click="Cancelar()">Voltar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>