<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/animate.min.css" />
    <link rel="stylesheet" href="../css/paginator.css" />
    <link rel="stylesheet" href="../css/styleMunicipio.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="../js/constantes.js"></script>
    <script src="../js/paginate.js"></script>
    <script src="../../Module/Profissao/ModuleProfissao.js" charset="utf-8"></script>
    <script src="../../Controller/Profissao/Read.js"></script>
    <script src="../../Controller/Profissao/Create.js"></script>
    <script src="../../Controller/Profissao/Update.js"></script>
    <!--<script src="../../Controller/Profissao/Delete.js"></script>-->

    <style type="text/css">
        #fundojumbotron {
            background-image: linear-gradient(to top, #09203f 60%, #537895 100%);
            height: 1200px;
        }
    </style>
</head>

<body ng-app="myApp">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1a1a1d;">
        <div class="container">
            <a class="navbar-brand mx-auto" href="../home">
                <img src="../home/imagem/logo.png" width="30" height="30" alt="Logo">
                CheDioi
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna Navegar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    </br>

    <div class="main container" ng-view></div>
</body>
</html>