<div ng-controller="Read">

    <h2 class="text-center">Lista De Profissões</h2>

    <br /><br />

    <div class="d-flex flex-row-reverse">
        <div class="row">
            <div class="input-group-append ">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Digite uma Profissão ..." ng-model="busca.Descricao" />
            </div>


        </div>
    </div>

    <br />

    <div class="row">

        <div class="col-sm">
            <label>Mostrar</label>
            <select class="btn dropdown-toggle text-center"
                    ng-model="itemPorPagina" ng-init='itemPorPagina = "10"'>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
            </select>
            <label>registros</label>
        </div>

        <div class="d-flex flex-row-reverse col-sm">
            <button class="btn btn-success" type="button" ng-click="create()" onclick="location.href='#!/Criar'">Cadastrar</button>
        </div>
    </div>
    <br />

    <div class="table-responsive">
        <table class="table table-bordered">
            <thread style="background-color: rgba(0,0,0,.03); text-align: center;">
                <tr>
                    <th ng-click="Sort('Descricao')">
                        DESCRIÇÃO
                        <i class="fas fa-sort" ng-show="SortKey=='Descricao'"></i>
                    </th>
                    <th colspan="2" align="center" width="2%">AÇÃO</th>
                </tr>
            </thread>
            <tbody>
                <tr ng-repeat="profissao in profissoes | orderBy:'Descricao' : Reverse | filter:Search" scope="col-2">
                    <td>{{profissao.Descricao}}</td>
                    <td align="center">
                        <button ng-click="CarregarPagina('/Atualizar'); DefineProfissaoAtual(profissao)" class="btn btn-primary"><i class="fas fa-edit"></i></button>
                    </td>
                    <td align="center">
                        <button ng-click="Deletar(profissao)" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <dir-pagination-controls class="d-flex flex-row-reverse" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                             template-url="dirPagination.tpl.html" max-size="12"></dir-pagination-controls>
</div>