<div ng-controller="Update" class="row">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    <label>Nome Da Profissão:</label>
                    <input class="form-control" ng-model="Profissao" type="text" required="required" name="text"
                           pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" />
                </td>
            </tr>
            <tr style="text-align: center">
                <td>
                    <button type="button" class="btn btn-primary" ng-click="Atualizar(Descricao)">Atualizar</button>
                    <button ng-click="CarregarPagina('/Profissao')" type="button"
                            class="btn btn-warning">
                        Voltar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>