<div class="modal fade" id="modal-update">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="font-weight: normal;">Alterar Município <strong>{{municipioAtual.nome}}</strong></h5>
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>                
            </div>
            <form>
                <div class="modal-body">

                    <p>Nome do Município</p>
                    <input id="descricao" class="form-control" type="text" ng-model="descricao" required >
                    <br />

                </div>
                <div class="modal-footer">
                    <table class="col-12 text-center">
                        <tr>
                            <td>
                                <input type="submit" ng-click="update(descricao)" class="btn btn-success" value="Alterar">                                
                            </td>

                            <td>
                                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>