<div class="modal fade" id="modal-delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
            </div>
            <div class="modal-body">
                <p>Deseja realmente deletar a área de conhecimento <strong>{{conhecimentoDescricao}}</strong>?</p>
            </div>
            <div class="modal-footer">
                <table class="col-12 text-center">
                    <tr>                        
                        <td>
                            <button type="button" class="btn btn-danger" ng-click="Delete()"
                             data-dismiss="modal">Deletar</button>
                        </td>

                        <td>
                            <button
                                type="button" class="btn btn-warning" 
                                data-dismiss="modal">Cancelar
                            </button>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>