<div class="modal fade" id="modal-create">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="font-weight: normal;">Criação de Município</h5>
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>                
            </div>
            <form id="createSubmit" >
                <div class="modal-body">

                    <p>Nome do Município</p>
                    <input id="nomeMunicipio" class="form-control" ng-model="descricao" type="text" value="" />
                    <br />                   

                </div>
                <div class="modal-footer">
                    <table class="col-12 text-center">
                        <tr>
                            <td>
                                <input type="submit" ng-click="create(descricao)" value="Cadastrar" class="btn btn-success" />
                            </td>

                            <td>
                                <button type="button" class="btn btn-danger"  data-dismiss="modal">Cancelar
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>