
<div ng-controller="Create" class="row">
        <select id="estadoNome" class="btn dropdown-toggle text-center"
                ng-options="estado.nome for estado in estados | orderBy:'nome' "
                ng-model="selecaoEstado">
            <option value="">Selecione um Estado</option>

        </select>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>
                        <label>Criação de Município</label>
                        <br>
                        <label>Nome do Município</label>
                        <input class="form-control" type="text" ng-model="NomeMunicipio" />

                    </td>
                </tr>
                <tr style="text-align: center">
                    <td>
                        <input type="submit" ng-click="Cadastrar()" value="Cadastrar" class="btn btn-success" />
                        <button type="button" ng-click="CarregarPagina('/Municipio')" class="btn btn-warning">Voltar</button>
                    </td>
                </tr>
            </tbody>
        </table>
</div>
