<div ng-controller="Read">

    <h2 class="text-center">Lista de Municípios</h2>

    <br /><br />
    
          <div class="d-flex flex-row-reverse">
              <div class="row">
                  <div class="input-group-append ">
                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                      <input type="text" class="form-control" placeholder="Digite um município ..." ng-model="busca.nome" />
                  </div>

                  <div class="col-sm">
                      <select class="btn dropdown-toggle text-center"
                              ng-options="Estado.nome for Estado in Estados | orderBy:'nome' "
                              ng-model="buscaPorEstado">
                          <option value="">Selecione um estado</option>
                      </select>
                  </div>
              </div>
          </div>

    <br />

    <div class="row">

        <div class="col-sm">
            <label>Mostrar</label>
            <select class="btn dropdown-toggle text-center"
                    ng-model="itemPorPagina" ng-init='itemPorPagina = "10"'>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
            </select>
            <label>registros</label>
        </div>

        <div class="d-flex flex-row-reverse col-sm">
            <button class="btn btn-success" type="button" ng-click="CarregarPagina('/Criar')">Cadastrar</button>
        </div>
    </div>
    <br />

    <div class="table-responsive">
        <table class="table table-bordered">
            <thread>
                <tr>
                    <th ng-click="Sort('nome')">
                        DESCRIÇÃO
                        <i class="fas fa-sort" ng-show="SortKey=='nome'"></i>
                    </th>
                    <th ng-click="Sort('Municipio.microrregiao.mesorregiao.UF.sigla')">
                        UF
                        <i class="fas fa-sort" ng-show="SortKey=='Municipio.microrregiao.mesorregiao.UF.sigla'"></i>
                    </th>
                    <th colspan="2" align="center" width="2%">AÇÃO</th>
                </tr>
            </thread>
            <tbody>
                <tr dir-paginate="Municipio in Municipios | orderBy:'nome': Reverse | filter:busca| filter:change | itemsPerPage:itemPorPagina"
                    scope="col-2">
                    <td>{{Municipio.nome}}</td>
                    <td>{{Municipio.microrregiao.mesorregiao.UF.sigla}}</td>

                    <td align="center">
                        <button value="editar" title="Editar" class="btn btn-primary" ng-click="CarregarPagina('/Atualizar'); DefineMunicipioAtual(Municipio)">
                            <i class="fas fa-edit"></i>
                        </button>
                    </td>
                    <td align="center">
                        <button class="btn btn-danger" ng-click="Deletar(Municipio);"><i class="far fa-trash-alt"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <dir-pagination-controls class="d-flex flex-row-reverse" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                             template-url="dirPagination.tpl.html" max-size="12"></dir-pagination-controls>
</div>