<div ng-controller="municipioControllerRead">

    <h2 class="text-center">Lista de municípios</h2>
    <div class="d-flex flex-row-reverse">
        <button class="btn btn-success btn-lg btn-circle" type="button" ng-click="create()"><i class="fa fa-plus"></i></button>
    </div>
    <br /><br />

    <form>
        <input type="text" class="form-control"
               placeholder="Digite um município ..." ng-model="busca.nome" />
        <br><br>

        <select class="btn dropdown-toggle text-center"
                ng-options="estado.nome for estado in estados | orderBy:'nome' "
                ng-model="buscaPorEstado">
            <option value="">Selecione um estado</option>
        </select>
    </form>
    <br /><br />
    <form>
        <select class="btn dropdown-toggle text-center"
                ng-model="itemPorPagina" ng-init='itemPorPagina = "10"'>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
        </select>
    </form>

    <br /><br />
    <p class="este">{{estarosa}}</p>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thread>
                <tr>
                    <td>DESCRIÇÃO</td>
                    <td>UF</td>
                    <td colspan="2" align="center">Ação</td>
                </tr>
            </thread>
            <tbody>
                <tr dir-paginate="municipio in municipios | orderBy:'nome' | filter:busca| filter:change | itemsPerPage:itemPorPagina"
                    scope="col-2" id="remove-{{municipio.id}}">
                    <td>{{municipio.nome}}</td>
                    <td>{{municipio.microrregiao.mesorregiao.UF.sigla}}</td>

                    <td align="center">
                        <button value="editar" title="Editar" class="btn btn-primary" ng-click="update(municipio)">
                            <i class="fas fa-edit"></i>
                        </button>
                    </td>
                    <td align="center">
                        <button class="btn btn-danger" ng-click="confirDelete(municipio); testandoFuncao()"><i class="far fa-trash-alt"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <dir-pagination-controls class="d-flex flex-row-reverse" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                             template-url="dirPagination.tpl.html" max-size="12"></dir-pagination-controls>
</div>
<div class="insert-modal">
    <div ng-controller="municipioControllerDelete" ng-include="modalDelete.template"></div>
    <div ng-controller="municipioControllerUpdate" ng-include="modalUpdate.template"></div>
    <div ng-controller="municipioControllerCreate" ng-include="modalCreate.template"></div>
</div>