<div ng-controller="Update">
    <h5 style="font-weight: normal;">Alterar Município <strong>{{municipioAtual.nome}}</strong></h5>
    <button type="button" class="close" data-dismiss="modal"><span>×</span></button>

    <form>
        <div>

            <p>Nome do Município</p>
            <input id="nomeMunicipioUpdate" class="form-control" type="text" required value="{{municipioAtual.nome}}">
            <br />
            <select id="estadoNome" class="btn dropdown-toggle text-center"
                    ng-init="selecaoEstadoUpdate"
                    ng-model="selecaoEstadoUpdate"
                    ng-options="estado.nome for estado in estados | orderBy:'nome' ">
                <option value="">Selecione um Estado</option>

            </select>

        </div>
        <div>
            <table class="col-12 text-center">
                <tr>
                    <td>
                        <input type="submit" ng-click="update(selecaoEstadoUpdate)" class="btn btn-success" value="Alterar">
                    </td>

                    <td>
                        <button type="button" class="btn btn-warning" data-dismiss="modal">
                            Cancelar
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>