<
<div ng-controller="Update" class="row">
        <select class="btn dropdown-toggle text-center"
                ng-options="estado.nome for estado in estados | orderBy:'nome' "
                ng-model="EstadoAtual">
            <option>Selecione um Estado</option>

        </select>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>
                        <label>Atualização de Município</label>
                        <br>
                        <label>Nome do Município</label>
                        <input class="form-control" type="text" value="" ng-model="MunicipioAtual" />
                    </td>
                </tr>
                <tr style="text-align: center">
                    <td>
                        <input type="submit" ng-click="Cadastrar()" value="Atualizar" class="btn btn-primary" />
                        <button type="button" ng-click="CarregarPagina('/Municipio')" class="btn btn-warning">Voltar</button>
                    </td>
                </tr>
            </tbody>
        </table>
</div>
