<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card-body">
                
                    <div ng-controller="ControllerCreate" class="row">
                        <table class="table table-bordered">
                            <thread>
                                <tr>
                                    <td>
                                        <label>Nome do Estado:</label>
                                        <input class="form-control" ng-model="NomeEstado" type="text" required="required" name="text" pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" />
                                    </td>
                                </tr>
                            </thread>
                            <thread>
                                <tr>
                                    <td>
                                        <label>UF:</label>
                                        <input class="form-control" ng-model="SiglaEstado" type="text" required="required" name="text" pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" />

                                    </td>
                                </tr>
                            </thread>
                            <thread>
                                <tr style="text-align: center">
                                    <td>
                                        <button title="Criar" class="btn btn-success" ng-click="Criar()">Criar</button>
                                        <button ng-click="CarregarPagina('/Estado')" title="Voltar" class="btn btn-warning">Voltar</button>
                                    </td>
                                </tr>
                            </thread>
                        </table>
                    </div>
                
            </div>
        </div>
    </div>
</div>



