<div ng-controller="controllerDelete" class="row">
    <table class="table table-bordered">
        <tbody>

            <tr>
                <td>ID selecionado: {{estadoSelecionado.id}}</td>
            </tr>
            <tr>
                <td>Nome do estado: {{estadoSelecionado.nome}}</td>
            </tr>

            <tr>
                <td>UF: {{estadoSelecionado.sigla}}</td>
            </tr>

            <tr style="text-align: center">
                <td>
                    <button value="confirmar" title="confirmar" class="btn btn-danger" onclick="showDeleteMessage(false)">Deletar</button>
                    <button ng-click="voltar()" value="cancelar" title="cancelar" class="btn btn-warning" >Voltar</button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>