
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card-body">
                <form>
                    <div ng-controller="criarController" class="row">
                        <table class="table table-bordered">
                            <thread>
                                <tr>
                                    <td>
                                        <label>Nome do Estado:</label>
                                        <input class="form-control" ng-model="nomeEstado" type="text" required="required" name="text" pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" />
                                    </td>
                                </tr>
                            </thread>
                            <thread>
                                <tr>
                                    <td>
                                        <label>UF:</label>
                                        <input class="form-control" ng-model="ufEstado" type="text" required="required" name="text" pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" />

                                    </td>
                                </tr>
                            </thread>
                            <thread>
                                <tr>
                                    <td>
                                        <button title="Criar" class="btn btn-success" ng-click="criar(nomeEstado, ufEstado)">Criar</button>
                                        <button ng-click="voltar()" title="Voltar" class="btn btn-danger">Voltar</button>
                                    </td>
                                </tr>
                            </thread>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



